<footer class="footer">
  <p>
    &copy; 2023 Pavel Nazimok
  </p>
  <p>
    <a class="highlight-link" href="https://github.com/pavelicii/pavelicii.github.io" target="_blank" rel="noreferrer">
      Published
    </a>
    with
    <a class="highlight-link" href="https://pages.github.com/" target="_blank" rel="noreferrer">
      GitHub Pages
    </a>
    | Theme by
    <a class="highlight-link" href="https://github.com/longpdo/neumorphism" target="_blank" rel="noreferrer">
      Long Do
    </a>
  </p>
</footer>

<!-- Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-J9PTNXNH26"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-J9PTNXNH26');
</script>
